# Data Analysis with Pandas

In [50]:

import numpy as np

In [51]:
import pandas as pd

In [52]:
df= pd.read_csv('vgsales.csv')

In [53]:
data = df[df['Global_Sales']*1000000 > 10000]

## Which company is the most common video game publisher?

In [54]:
most_common_publisher= data['Publisher'].mode()

In [55]:
most_common_publisher[0]

'Electronic Arts'

## Whatâ€™s the most common platform?

In [56]:
most_common_platform=data['Platform'].mode()

In [57]:
most_common_platform[0]

'PS2'

## what is the most common genre?

In [58]:
most_common_genre=data['Genre'].mode()

In [59]:
most_common_genre[0]

'Action'

## What are the top 20 highest grossing games?

In [60]:
sort_top_twenty=data[['Name','Global_Sales']].sort_values('Global_Sales', ascending=False)

In [61]:
most_top_twenty=sort_top_twenty.head(20)

In [62]:
most_top_twenty

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

## The median for North Amercican video games sales:

In [63]:
median=data['NA_Sales'].median()

In [64]:
top_ten_srr=data.iloc[(data['NA_Sales']-median).abs().argsort()[:10]]

In [65]:
top_ten_srr

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
7831,7833,IL-2 Sturmovik: Birds of Prey,PSP,2009.0,Simulation,505 Games,0.08,0.07,0.0,0.04,0.19
3186,3188,SingStar Queen,PS2,2009.0,Misc,Sony Computer Entertainment,0.08,0.12,0.0,0.44,0.63
9088,9090,Mary-Kate and Ashley: Winners Circle,PS,2001.0,Action,Acclaim Entertainment,0.08,0.05,0.0,0.01,0.14
10269,10271,The Scorpion King: Rise of the Akkadian,GC,2002.0,Action,Universal Interactive,0.08,0.02,0.0,0.00,0.11
10762,10764,Heatseeker,Wii,2007.0,Action,Codemasters,0.08,0.00,0.0,0.01,0.10
10262,10264,SimAnimals Africa,DS,2009.0,Simulation,Electronic Arts,0.08,0.02,0.0,0.01,0.11
10260,10262,Bust-A-Move DS,DS,2005.0,Puzzle,505 Games,0.08,0.02,0.0,0.01,0.11
10255,10257,X-Men: Next Dimension,XB,2002.0,Fighting,Activision,0.08,0.02,0.0,0.00,0.11
10254,10256,NHL Rivals 2004,XB,2003.0,Sports,Microsoft Game Studios,0.08,0.02,0.0,0.00,0.11
10253,10255,Outlaw Golf: Nine Holes of Christmas,XB,2002.0,Sports,Simon & Schuster Interactive,0.08,0.02,0.0,0.00,0.11

## The standard deviations above/below the mean are its sales for North America:

In [66]:
def zscore(s):
    return (s - np.mean(s)) / np.std(s)
zscore(data['NA_Sales']).head(1)

0    49.618664
Name: NA_Sales, dtype: float64

## The  average number of sales compare with all of the other platforms:

In [72]:
avg_wii=data.groupby(data['Platform']=='Wii')['Global_Sales'].mean()

In [73]:
avg_wii

Platform
False    0.543983
True     0.714830
Name: Global_Sales, dtype: float64

## Q1. how many games the most puplisher company been puplished?

In [82]:
most_puplisher = data['Publisher'].value_counts().max()
most_puplisher

1339

## Q2.sup Q2- what game is the most sale in JP?Â¶

In [83]:
most_sale_in_JP = data[['Name']].max()
most_sale_in_JP

Name    Â¡Shin Chan Flipa en colores!
dtype: object

## Q3. How many DS platform in Eroup?

In [106]:
num_of_DS=data['Platform'].value_counts()

In [108]:
num_of_DS[1]

2074